includes:
    - /app/vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - /app/app
        - /app/config
        - /app/database
        - /app/routes
        - /app/tests

    level: 5

    tmpDir: /app/storage/framework/cache/phpstan

    checkMissingIterableValueType: false


